<div class="container">
  <h3>Upload A Track</h3>
  <form class="form-group" action="https://hr-soundbase.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
    <input type="hidden" name="key" value="${filename}">
    <input type="hidden" name="bucket" value="hr-soundbase">
    <input type="hidden" name="AWSAccessKeyId" value="AKIAIFZF4MBBRUPEVUZA">
    <input type="hidden" name="acl" value="public-read">
    <input type="hidden" name="success_action_redirect" value="https://soundbase-app.herokuapp.com">
    <input type="hidden" name="policy" value="ewogICJleHBpcmF0aW9uIjogIjIwMjAtMDEtMDFUMDA6MDA6MDBaIiwKICAiY29uZGl0aW9ucyI6IFsKICAgIHsiYWNsIjogInB1YmxpYy1yZWFkIn0sCiAgICB7ImJ1Y2tldCI6ICJoci1zb3VuZGJhc2UifSwKICAgIFsic3RhcnRzLXdpdGgiLCAiJGtleSIsICIiXSwKICAgIHsic3VjY2Vzc19hY3Rpb25fcmVkaXJlY3QiOiAiaHR0cHM6Ly9zb3VuZGJhc2UtYXBwLmhlcm9rdWFwcC5jb20ifSwKICAgIFsic3RhcnRzLXdpdGgiLCAiJENvbnRlbnQtVHlwZSIsICJhdWRpbyJdLAogICAgWyJjb250ZW50LWxlbmd0aC1yYW5nZSIsIDAsIDUyNDI4ODAwMF0KICBdCn0=">
    <input type="hidden" name="signature" value="JVv7xuhh+F5dyjL6xHZIS8sFWAU=">
    <input type="hidden" name="Content-Type" value="audio">

    <label>File input</label>
    <input name="file" type="file" fileread="track.url" required>
    <br>
    <label>Artist Name</label>
    <input class="form-control" type="text" ng-model="track.artist" placeholder="Artist" required>
    <br>
    <label>Track Title</label>
    <input class="form-control" type="text" ng-model="track.title" placeholder="Song Title" required>
    <br>
    <input class="btn btn-default" type="submit" value="Upload File" ng-click="addTrack()">
    <img src="assets/spiffygif_46x46.gif" ng-show="loading">
  </form>
</div>
